<div class='country-info__head'>
  <img src={{flags.svg}} alt='countrie-flag' width='36px' />
  <span class='country-info__name'>{{name.official}}</span>
</div>
<ul>
  <li class='country-info__item'>Capital: <span>{{capitalOfCountrie}}</span></li>
  <li class='country-info__item'>Population: <span>{{population}}</span></li>
  <li class='country-info__item'>Languages: <span>{{languagesOfCountrie}}</span></li>
</ul>